<p>Hi <%= @user.first_name %>,</p>

<p>Bienvenue sur le site Clef de 9 !</p>

<p> <i>Prenez du plaisir, et reprenez votre voiture en main !</i></p>

<p>A bientôt,</p>
<br>
<p>L'équipe de Clef de 9</p>
<p>www.cle-de-neuf.herokuapp.com</p>
