 <!--=== Footer Version 2 ===-->
 <div class="footer-v2">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-3 md-margin-bottom-40">
          <a href="index.html"><img class="footer-logo" src="assets/img/logo1-default.png" alt=""></a>
          <p class="margin-bottom-20"><p>Clef de 9 vous permet de mieux entretenir votre véhicule. Un impact sur votre portefeuille et sur l'environnement. </p><p>
          Inscrivez-vous à notre newsletter !</p>
          </p>

          <form class="footer-subsribe">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email Address">
              <span class="input-group-btn">
                <button class="btn-u" type="button">Go</button>
              </span>
            </div>
          </form>
        </div><!--/col-md-3-->
        <!-- End About -->

        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>Liens utiles</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">Qui sommes-nous ?</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Nos partenaires</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">La presse parle de nous</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Nos garages</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Contactez-nous !</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div><!--/col-md-3-->
        <!-- End Link List -->

        <!-- Latest Tweets -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="latest-tweets">
            <div class="headline"><h2 class="heading-sm">Derniers Tweets</h2></div>
            <div class="latest-tweets-inner">
              <i class="fa fa-twitter"></i>
              <p>
                <a href="#">@clefde9</a>
                j'ai vendu ma voiture 4,5mds€ grace à vous, merci !
                <a href="#">http://t.co/sBav7dm</a>
                <small class="twitter-time">2 hours ago</small>
              </p>
            </div>
            <div class="latest-tweets-inner">
              <i class="fa fa-twitter"></i>
              <p>
                <a href="#">@clefde9</a>
                Merci pour l'entretien de ma voiture
                <a href="#">http://t.co/sBav7dm</a>
                <small class="twitter-time">4 hours ago</small>
              </p>
            </div>
          </div>
        </div>
        <!-- End Latest Tweets -->

        <!-- Address -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2 class="heading-sm">Contactez-nous !</h2></div>
          <address class="md-margin-bottom-40">
          <i class="fa fa-home"></i>25, rue du Wagon, Lille <br />
            <i class="fa fa-phone"></i>Phone: 03 20 20 20 20 <br />
            <br>
            <i class="fa fa-globe"></i>Website: <a href="#">www.clef-de-neuf.fr</a> <br />
            <i class="fa fa-envelope"></i>Email: <a href="mailto:info@anybiz.com">info@clef-de-12.com</a>
          </address>

          <!-- Social Links -->
          <ul class="social-icons">
            <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
            <li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
            <li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
            <li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
          </ul>
          <!-- End Social Links -->
        </div><!--/col-md-3-->
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <p class="text-center">2016 &copy; All Rights Reserved. Made with love @LeWagonLille - <a target="_blank" href="https://www.lewagon.com/fr/lille">LeWagon</a></p>
    </div>
  </div><!--/copyright-->
</div>
<!--=== End Footer Version 2 ===-->
