<!--=== Content Part ===-->
<div class="container content">
  <div class="clearfix margin-bottom-30"></div>
  <div class="shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
      <h2>Un atout pour les conducteurs</h2>

    </div>
  </div>

  <!-- Service Blocks -->
  <div class="margin-bottom-10"></div>
  <div class="row margin-bottom-10">
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">Je crée mes carnets d'entretien</h2>
        <img class="img-responsive margin-bottom-20" src="assets/images/creation.png" alt="">

        <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">J'entretiens mieux mon véhicule </h2>
        <i class="icon-custom rounded-x icon-bg-dark icon-line icon-rocket"></i>
        <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">Je revends et j'achète plus sereinement</h2>
        <i class="icon-custom rounded-x icon-bg-dark icon-line icon-support"></i>
        <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
      </div>
    </div>
  </div>
  <!-- End Service Blokcs -->

  <div class="clearfix margin-bottom-30"></div>
  <div class="shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
      <h2>Un atout pour les garages</h2>

    </div>
  </div>

  <!-- Service Blocks -->
  <div class="margin-bottom-20"></div>
  <div class="row margin-bottom-40">
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">J'accède aux informations de mes clients'</h2>
        <i class="icon-custom rounded-x icon-bg-dark fa fa-lightbulb-o"></i>
        <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md"> J'entretiens mieux son véhicule </h2>
        <i class="icon-custom rounded-x icon-bg-dark icon-line icon-rocket"></i>
        <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="servive-block servive-block-default">
        <h2 class="heading-md">Mes clients sont satisfaits !</h2>
        <i class="icon-custom rounded-x icon-bg-dark icon-line icon-support"></i>
        <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
      </div>
    </div>
  </div>
  <!-- End Service Blokcs -->

  <!-- Info Blokcs -->
  <div class="row margin-bottom-40">
    <!-- Welcome Block -->
    <div class="col-md-8 md-margin-bottom-40">
      <div class="headline"><h2>On parle de nous !</h2></div>
      <div class="row">
        <div class="col-sm-4">
          <img class="img-responsive margin-bottom-20" src="assets/img/new/img15.jpg" alt="" />
        </div>
        <div class="col-sm-8">
          <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
          <ul class="list-unstyled margin-bottom-20">
            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
            <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
          </ul>
        </div>
      </div>

      <blockquote class="hero-unify">
        <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
        <small>CEO, Jack Bour</small>
      </blockquote>
    </div><!--/col-md-8-->

    <!-- Posts -->
    <div class="col-md-4 posts">
      <div class="headline"><h3>La presse aussi</h3></div>
      <dl class="dl-horizontal">
        <dt><a href="#"><img alt="" src="assets/images/feu-vert.jpg"></a></dt>
        <dd>
          <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><a href="#"><img alt="" src="assets/img/sliders/elastislide/10.jpg"></a></dt>
        <dd>
          <p><a href="#">Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.</a></p>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><a href="#"><img alt="" src="assets/img/sliders/elastislide/11.jpg"></a></dt>
        <dd>
          <p><a href="#">It works on all major web browsers, tablets and lorem sequat ipsum dolor.</a></p>
        </dd>
      </dl>
    </div>
  </div><!--/row-->
  <!-- End Info Blokcs -->

  <!-- Our Clients -->
  <div class="owl-carousel-style-v2">
    <div class="headline"><h2>Our Clients</h2></div>
    <div class="owl-slider-v3">
      <div class="item">
        <img class="img-responsive" src="assets/img/clients/cisco.png" alt="">
      </div>
      <div class="item">
        <img class="img-responsive" src="assets/img/clients/cocacola.png" alt="">
      </div>
      <div class="item">
        <img class="img-responsive" src="assets/img/clients/vadafone.png" alt="">
      </div>
      <div class="item">
        <img class="img-responsive" src="assets/img/clients/walmart.png" alt="">
      </div>
      <div class="item">
        <img class="img-responsive" src="assets/img/clients/shell.png" alt="">
      </div>
      <div class="item">
        <img class="img-responsive" src="assets/img/clients/hp.png" alt="">
      </div>
      <div class="item">
        <img class="img-responsive" src="assets/img/clients/spinworkx.png" alt="">
      </div>
      <div class="item">
        <img class="img-responsive" src="assets/img/clients/motogp.png" alt="">
      </div>
      <div class="item">
        <img class="img-responsive" src="assets/img/clients/everyday.png" alt="">
      </div>
      <div class="item">
        <img class="img-responsive" src="assets/img/clients/aztec.png" alt="">
      </div>
      <div class="item">
        <img class="img-responsive" src="assets/img/clients/natural.png" alt="">
      </div>
    </div>
  </div>
  <!-- End Our Clients -->
</div><!--/container-->
<!-- End Content Part -->
