/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: #72C02C;
  opacity: 0.6;
}
.alert-warning {
  background: $red;
}
